body
{
font-size: 0;

/* overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;  */
}

#container
{
font-size: 0;

background-color:gray;

overflow:hidden;
position:relative;
display:inline-block;
}

#header
{
font-size: medium;

background-color: red;

overflow:hidden;
position:relative;
display:inline-block;
}

.head:hover
{
color:blue;
background-color:yellow;

cursor:pointer;
overflow:hidden;
position:relative;
display:inline-block;
}

#center
{
font-size: 0;

background-color:lightgray;
font-family:Tahoma, Geneva, sans-serif;

overflow:hidden;
position:relative;
display:inline-block;
}

.column
{
margin: 0 0 0px 385px;
overflow: hidden;
}

.row-even
{
font-size: medium;
background-color: lightgray;
width: 100%;
overflow: auto;
padding: 50px 50px 50px 50px;
}

.row-odd
{
font-size: medium;
background-color: lightblue;
width: 100%;
overflow: auto;
padding: 50px 50px 50px 50px;
}

#footer
{
font-size: 0;

background-color:lightgreen;

overflow:hidden;
position:relative;
display:inline-block;
}

.round
{
width: 67px;
height: 45px;
background-color: #33FF00;
moz-border-radius: 12px;
-webkit-border-radius: 12px;
border: 5px solid #009900;
padding: 5px;
}

#info
{
padding: 0px 10px 10px 10px;
margin: 0 0 0 255px;
border: 1px solid red;
}

#info p
{
}

.project
{
font-size: medium;
background-color: lightgray;
width: 1000px;
padding: 20px 20px 20px 20px;
}

@font-face {
font-family: 'SansationLight';
src: url('./SansationLight.eot');
src: local('SansationLight'), url('./SansationLight.woff') format('woff'), url('./SansationLight.ttf') format('truetype');
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_423">Text with this font applied</p> */
.senlightfont {
    font-family: 'SansationLight' !important;
} /* Font downloaded from FontsForWeb.com */
