<h2>About</h2>
    <p>My name is Takumi Adachi is a Canadian developer based in Victoria BC. In my free time, I develop web apps to tackle very specific problems.</p>
    As of 2014, I am currently writing code in HTML/CSS, Javascript and developing using NodeJS and its various plugins. Past projects that I have worked on were developed in Java, C, Python, and PHP.
    The IDEs and editors I use are vim, Eclipse, Light Table, and notepad++.
    <p>I have a diploma in Information Technology from Camosun College (Victoria, BC).</p>
    <p>In the past I attended University of Victoria and was in their Computer Science program.</p>
</p>
<h2>
    Latest Projects:
</h2>
<ul>
    <li>
<!--         <is-online link='http://srl.tak.com:4000'><a href='{{link}}'>srlplayer</a> <a href='https://github.com/tadachi/srlplayer'>(github)</a> - a twitchstreamer for speedrunners from speedrunslive.com {{value}}</is-online> -->
        <a href='http://srl.takbytes.com'>srlplayer</a> <a href='https://github.com/tadachi/srlplayer'>(github)</a> - a twitchstreamer for speedrunners from <a href='http://speedrunslive.com'>speedrunslive.com</a>.
    </li>
    <li>
<!--         <is-online link='http://mtc.tak.com:4000'><a href={{link}>multitwitchchat</a> <a href='https://github.com/tadachi/multitwitchchat'>(github)</a> - a twitchstreamer for speedrunners from speedrunslive.com {{value}}</is-online> -->
        <a href='http://mtc.takbytes.com'>multitwitchchat</a> <a href='https://github.com/tadachi/multitwitchchat'>(github)</a> - Search for twitch streamers and open just the chat for each one.
    </li>
</ul>
<h2>
Related Links:
</h2>
<ul>
    <li>
        My <a href='https://github.com/tadachi'>github</a>.
    </li>
</ul>
