<!DOCTYPE html>
<html lang='en' ng-app='app'>
    <head>
        <meta content='text/html; charset=utf-8' http-equiv='content-type'>
        <title>Takumi Adachi's Homepage</title>
        <meta name="description" content="Takumi's Official Website. Takumi Adachi's Official Website. Find out more about me, view my previous projects, and hire me!">
        <meta name="keywords" content="Takumi Adachi, takada, php, javascript, html, twitter, github, web developer, html5, css3, blog, nodejs, python"/>
        <link rel='stylesheet' href='/css/main.css'>
        <link rel='stylesheet' href='/css/fonts.css'>
        <!--load JQuery before Angular-->
        <script src='js/jquery-2.1.1.min.js'></script>
<!--         <script src='js/pdfjs-1.0.68-dist/build/pdf.js'></script> -->
<!--         <script src='js/viewer.js'></script> -->
        <!-- Angularjs -->
<!--         <script src='js/angular.1.3.0b11.js'></script> -->
<script>
//     var app = angular.module('app', []);
/*
 * Shows if the website is online or not. *WIP
 */
//     app.directive('isOnline', function() {
//         return {
//             $scope: {
//                 value: '=',
//                 href: '=',
//                 link: '@',
//             },
//             restrict: 'AEC',
// //             controller: function($scope, $element){
// //                 $scope.value = 'pinging...';
// //                 $scope.href = $element.attr('link');
// //                 console.log($element.attr('link'));
// //             },
//             cache: false,
//             link: function($scope, $element) {
//                 $scope.value = 'pinging...';
//                 $scope.href = $element.attr('link');

//                 var url = $element.attr('link');
//                 //var url = 'http://whateverorigin.org/get?url=' + encodeURIComponent($element.attr('link')) + '&callback=?';
//                 //var url = 'http://whateverorigin.org/get?url=' + encodeURIComponent($element.attr('link')) + '&callback=?';
// //                 $.getJSON(url, function(data){
// //                     console.log(data);
// //                 });
//                 $.ajax({
//                     url: $element.attr('link'),
//                     timeout: 1000,
//                     dataType: 'json',
//                     statusCode: {
//                         200: function() {
//                             console.log('200');
//                             $scope.$apply(function() {
//                                 $scope.value = '200';
//                             });
//                         },
//                         404: function() {
//                             console.log('400');
//                             $scope.$apply(function() {
//                                 $scope.value = 'loading';
//                             });
//                         },
//                         500: function() {
//                             console.log('500');
//                             $scope.$apply(function() {
//                                 $scope.value = '500';
//                             });
//                         },
//                         503: function() {
//                             console.log('503');
//                             $scope.$apply(function() {
//                                 $scope.value = '500';
//                             });
//                         }
//                     }
//                 }).done(function(data) {
//                     console.log(url);
//                     console.log(data);
//                 }).fail(function(data) {
//                     console.log(url);
//                     console.log(data);
//                 })

//             }
//         };
//     });

    //'use strict';

    //PDFJS.workerSrc = 'js/pdfjs-1.0.68-dist/build/pdf.worker.js';

</script>
    </head>
    <body>
        <div id='header' class='senlightfont' style='background-color: black; color: white; overflow: hidden'>
            <div style='float: left;'>
                <div id='menu' style='font-size: 30px;'>
                    <a href='/'>Home</a>
                    <a href='https://github.com/tadachi'>Github</a>
                    <a href='http://resume.github.io/?tadachi''>Resume(Github)</>
                    <a href='/pdf/tadachi-resume.pdf'>Resume(Traditional)</a>
                    <a href='/#contact'>Contact Me</a>
                </div>
            </div>
            <div style='float: left;'>
                <a href='https://twitter.com/tak_ada999'><icon class='icon-twitter size-36 step' style='margin-top: 10px;'></icon></a>
                <a href='https://github.com/tadachi'><icon class='icon-github size-36 step'></icon></a>
                <a href='https://www.facebook.com/tak.ada999'><icon class='icon-social-facebook size-36 step'></icon></a>
            </div>

        </div>

        <div id='center'>
            <div class='row' style='background-color: #3399CC;'>
                <div class='column senlightfont' style='background-color: #E8E8E8; font-size: 27px; font-weight:bold;'>
                    <h1>Takumi Adachi</h1>
                    <h4>Professional Web Developer</h4>
                    <h4>Information Technologist</h4>
                </div>
            </div>

            <div class='row' style='background-color: #3399FF; width:'>
                <div class='column senlightfont' style='background-color: #339FFF; color:white;'>
                    <div class='skillset'>
                        <icon class='icon-html size-100 step' style='display: inline-block; padding-left: 20px;'></icon>
                        <div class='size-24' style='padding-left: 20px;'>HTML</div>
                    </div>
                    <div class='skillset'>
                        <icon class='icon-css size-100 step' style='display: inline-block;'></icon>
                        <div class='size-24'>CSS</div>
                    </div>
                     <div class='skillset'>
                        <img src='img/javascript-icon.png' width='90' height='90' alt='JS' style:'display: inline-block;'/>
                        <div class='size-24'>Javascript</div>
                    </div>
                    <div class='skillset'>
                        <icon class='icon-nodejs size-100 step' style='display: inline-block;'></icon>
                        <div class='size-24'>nodeJS</div>
                    </div>
                    <div class='skillset'>
                        <icon class='icon-python size-100 step' style='display: inline-block;'></icon>
                        <div class='size-24'>Python</div>
                    </div>
                    <div class='skillset'>
                        <icon class='icon-ubuntu size-100 step' style='display: inline-block;'></icon>
                        <div class='size-24'>Ubuntu</div>
                    </div>

                    <div class='skillset'>
                        <icon class='icon-php size-100 step' style='display: inline-block;'></icon>
                        <div class='size-24'>PHP</div>
                    </div>
                    <!-- <div class='skillset'>
                        <img src='img/pc_repair.png' width='90' height='90' alt='JS' style:'display: inline-block;'/>
                        <div class='size-24'>IT</div>
                    </div> -->
                </div>

                <div class='column' style='background-color: #E8E8E8;'>
                    <div style='line-height:150%; font-size: 23px;'>
                        <p>I am a developer in Victoria, BC. Most of my projects are web based, But I can build a variety of web applications that fit your needs.
                        My strong points include <b>HTML/CSS</b>, <b>Javascript(JQuery,AngularJS)</b>, and <b>NodeJS</b>.</p>
                        <p>I'm not limited to just developing. I have also a strong background in Information Technology.
                        I regularly troubleshoot networks, computers, and handhelds. You can count on me to quickly catch up to your IT practices.</p>
                        <p>My favorite web hangouts include Hacker News, Reddit, Github, and Twitch. Kendo is my main physical activity and cycling is my main mode
                        of exercise and transportation besides driving.</p>
                    </div>
                </div>
            </div>

            <div class='row' style='background-color: #33CCFF;'>
                <div class='column' style='background-color: #E8E8E8;'>
                    <div class='preview'>
                         <img src='img/srlplayer-preview.jpg' width='250' height='150'/>
                    </div>

                    <div class='info'>
                        <div style='line-height: 150%;'>
                        <strong>Project Title: </strong>srlplayer<br />
                        <strong>Project URL: </strong><a href='http://srl.takbytes.com'>srl.takbytes.com</a><br />
                        <strong>Source Code: </strong><a href='https://github.com/tadachi/srlplayer'>Github</a><br />
                        <strong>Demo Webm: </strong><a href='webm/srlplayer.webm'>Demo</a><br />
                        <strong>Status: </strong><span style='color: #00FF33; font-weight:bold;'>Active/Live</span><br />
                        </div>
                        <p style='line-height: 150%; font-size: 20px;'>
                            This is a twitch streamer that grabs a list of streamers that specifically speedrun games at
                            <a href='www.speedrunslive.com'>www.speedrunslive.com</a>. I made this web app because I wanted to maximize the video screen size
                            without losing chat, make it minimal, and load very quickly. I learned how to code and debug HTML, CSS, Javascript(JQuery), and nodeJS.
                            I also learned REST, JSON, browser compatibility, and callbacks. Overall, it was an excellent way to practice coding, debugging, and version control.
                        </p>
                        <span class="label round">HTML</span>
                        <span class="label round">CSS</span>
                        <span class="label round">Javascript + jQuery</span>
                        <span class="label round">NodeJS</span>
                        <span class="label round">Git</span>
                    </div>
                </div>

                <div class='column' style='background-color: #E8E8E8; margin-top: 50px;'>
                    <div class='preview'>
                         <img src='img/multitwitchchat-preview.jpg' width='250' height='150' />
                    </div>

                    <div class='info'>
                        <div style='line-height: 150%;'>
                        <strong>Project Title: </strong>multitwitchchat<br />
                        <strong>Project URL: </strong><a href='http://mtc.takbytes.com'>mtc.takbytes.com</a><br />
                        <strong>Source Code: </strong><a href='https://github.com/tadachi/multitwitchchat'>Github</a><br />
                        <strong>Demo Webm: </strong><a href='webm/multitwitchchat.webm'>Demo</a><br />
                        <strong>Status: </strong><span style='color: #00FF33; font-weight:bold;'>Active/Live</span>
                        </div>
                        <p style='line-height: 150%; font-size: 20px;'>
                            This is a web app that allows you to search for twitch streamers and open just the chat for each one.
                            I made this web app because I wanted to catch up on chat for the twitch streams I regularly watch.
                            I chose to learn AngularJS for this app because directives are incredibly concise and reduce alot of the code
                            for certain things compared to being implemented in JQuery alone.
                        </p>
                        <span class="label round">HTML</span>
                        <span class="label round">CSS</span>
                        <span class="label round">Javascript + jQuery + AngularJS</span>
                        <span class="label round">NodeJS</span>
                        <span class="label round">Git</span>
                    </div>
                </div>
            </div>
            <div id='footer'>
                <div class='row senlightfont' style='background-color: #66CCFF;'>
                    <div class='column senlightfont' style='background-color: #E8E8E8; font-size: 20px;'>
                    <h2 id="contact">Contact Me</h2>
                        <p>Got questions? Want to hire me? Problems with my web apps?</p>
                        <p>Email me at takumiadachi [ at ] gmail dot com </p><br />
                        <p>&copy; 2014 Takumi 'takada' Adachi</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
