<!DOCTYPE html>
<html lang='en' ng-app='app'>
<head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> <!-- Tells mobile devices to scale. Will not work without this line -->
    <title>Takumi Adachi's Homepage</title>
    <meta name="description" content="Takumi's Official Website. Takumi Adachi's Official Website. Find out more about me and view my previous projects!">
    <meta name="keywords" content="Takumi Adachi Programmer takada tadachi github php javascript html twitter github web developer html5,css3 blog nodejs python, "/>
    <link rel='stylesheet' href='css/main.css'>
    <link rel='stylesheet' href='css/fonts.css'>
    <link rel='stylesheet' href='css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/bootstrap-theme.min.css'>
    <!--load JQuery before Angular-->
    <script src='js/jquery-2.1.1.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
</head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container senlightfont ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Takumi Adachi</a>
            <a class="navbar-brand" href='https://twitter.com/takumikun'><icon class='icon-twitter size-24'></icon></a>
            <a class="navbar-brand" href='https://github.com/tadachi'><icon class='icon-github size-24'></icon></a>
            <a class="navbar-brand" href='https://www.facebook.com/tak.ada999'><icon class='icon-social-facebook size-24'></icon></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li><a href='#' >Home</a></li>
                <li><a href='/#projects' >Projects</a></li>
                <li><a href='https://github.com/tadachi' target="_blank">Github</a></li>
                <li><a href='http://careers.stackoverflow.com/tadachi' target="_blank">StackCareers 2.0 resume</a></li>
                <li><a href='/#contact'>Contact Me</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron senlightfont">
         <div class='row'>
            <div class='senlightfont' style='font-size: 27px; font-weight:bold; margin-top: 50px'>
                <h1>Takumi Adachi</h1>
                <h3>Programmer/Web Developer</h3>
                <h3>Information Technologist</h3>
            </div>
        </div>
    </div>
    <div class="jumbotron senlightfont">
        <div class='skillset'>
            <icon class='icon-html size-100 step' style='display: inline-block; padding-left: 20px;'></icon>
            <div class='size-24' style='padding-left: 20px;'>HTML</div>
        </div>
        <div class='skillset'>
            <icon class='icon-css size-100 step' style='display: inline-block;'></icon>
            <div class='size-24'>CSS</div>
        </div>
        <div class='skillset'>
            <img src='img/javascript-icon.png' width='90' height='90' alt='JS' style='display: inline-block; margin-bottom: 20px' />
            <div class='size-24'>Javascript</div>
        </div>
        <div class='skillset'>
            <icon class='icon-nodejs size-100 step' style='display: inline-block;'></icon>
            <div class='size-24'>nodeJS</div>
        </div>
        <div class='skillset'>
            <icon class='icon-python size-100 step' style='display: inline-block;'></icon>
            <div class='size-24'>Python</div>
        </div>
        <div class='skillset'>
            <icon class='icon-ubuntu size-100 step' style='display: inline-block;'></icon>
            <div class='size-24'>Ubuntu</div>
        </div>
        <div class='skillset'>
            <icon class='icon-php size-100 step' style='display: inline-block;'></icon>
            <div class='size-24'>PHP</div>
        </div>
    </div>
    <div class="jumbotron senlightfont">
        <div style='line-height:125%; font-size: 24px;'>
            <h1>About Me</h1><br />
            <p>
                I am a developer in Victoria, BC. Most of my projects are web based, But I can build a variety of web applications that fit your needs.
                My strong points include <b>HTML/CSS</b>, <b>Javascript(JQuery,AngularJS)</b>, and <b>NodeJS</b>.
            </p>
            <p>
                I'm not limited to just developing. I have also a strong background in Information Technology.
                I regularly troubleshoot networks, computers, and handhelds. You can count on me to quickly catch up to your IT practices.
            </p>
            <p>
                My favorite web hangouts include Hacker News, Reddit, Github, and Twitch. Kendo is my main physical activity and cycling is my main mode
                of exercise and transportation besides driving.
            </p>
        </div>
    </div>
    <div class="jumbotron senlightfont">
        <div id="projects"><h1>Projects</h1><br /></div>
        <div class='info'>
            <div style='line-height: 150%;'>
                <img class='preview' src='img/srlplayer-preview.jpg' width='275' height='165' />
                <strong>srlplayer</strong><br />
                <strong><a href='http://srl.takbytes.com'>srl.takbytes.com</a></strong><br />
                <strong><a href='https://github.com/tadachi/srlplayer'>Github</a</strong><br />
                <strong><a href='webm/srlplayer.webm'>Demo</a></strong><br />
                <strong><span style='color: #00FF33; font-weight:bold;'>Active/Live</span></strong><br />
                
            </div>
            <p style='line-height: 150%; font-size: 20px;'>
                This is a twitch streamer that grabs a list of streamers that specifically speedrun games at
                <a href='www.speedrunslive.com'>www.speedrunslive.com</a>. I made this web app because I wanted to maximize the video screen size
                without losing chat, make it minimal, and load very quickly. I learned how to code and debug HTML, CSS, Javascript(JQuery), and nodeJS.
                I also learned REST, JSON, browser compatibility, and callbacks. Overall, it was an excellent way to practice coding, debugging, and version control.
            </p>
            <span class="label round">HTML</span>
            <span class="label round">CSS</span>
            <span class="label round">Javascript + jQuery</span>
            <span class="label round">NodeJS</span>
            <span class="label round">Git</span>
        </div>
        <div class='info'>
            <div style='line-height: 150%;'>
                <img class='preview' src='img/multitwitchchat-preview.jpg' width='275' height='165' />
                <strong>multitwitchchat</strong><br />
                <strong><a href='http://mtc.takbytes.com'>mtc.takbytes.com</a></strong><br />
                <strong><a href='https://github.com/tadachi/multitwitchchat'>Github</a></strong><br />
                <strong><a href='webm/multitwitchchat.webm'>Demo</a></strong><br />
                <strong><span style='color: #FFCC00; font-weight:bold;'>Maintenance</span>/<span style='color: #00FF33; font-weight:bold;'>Live</style></strong><br />
                
            </div>
            <p style='line-height: 150%; font-size: 20px;'>
                This is a web app that allows you to search for twitch streamers and open just the chat for each one.
                I made this web app because I wanted to catch up on chat for the twitch streams I regularly watch.
                I chose to learn AngularJS for this app because directives are incredibly concise and reduce alot of the code
                for certain things compared to being implemented in JQuery alone.
            </p>
            <span class="label round">HTML</span>
            <span class="label round">CSS</span>
            <span class="label round">Javascript + jQuery + AngularJS</span>
            <span class="label round">NodeJS</span>
            <span class="label round">Git</span>
        </div>
        <div class='info'>
            <div style='line-height: 150%;'>
                <img class='preview' src='img/miniview-preview.jpg' width='150' height='230' />
                <strong>Miniview</strong><br />
                <strong><a href='https://play.google.com/store/apps/details?id=org.app.miniview'>Google Play Store</a></strong><br />
                <strong><a href='https://github.com/tadachi/miniview'>Github</a></strong><br />
                <strong><span style='color: #FFBB00; font-weight:bold;'>Maintenance</span>/<span style='color: #00FF33; font-weight:bold;'>Live</style></strong>
            </div>
            <p style='line-height: 150%; font-size: 20px;'>
                This android app is ideal for reading locally stored manga. It features cycling to the next chapter/folder upon hitting next on the last image
                allowing a seamless reading experience. Supports PNG and JPG.
            </p>
            <span class="label round">Python</span>
            <span class="label round">Kivy</span>
            <span class="label round">Git</span>
        </div>

        <div style="position: absolute;">
            
        </div>
        <div class='info'>
            <div style='line-height: 150%;'>
                <img class='preview' src='img/mangaget-preview.png' width='150' height='230' />
                <strong>Mangaget</strong><br />
                <strong><a href='https://github.com/tadachi/mangaget'>Github</a></strong><br />
                <strong><span style='color: #FFBB00; font-weight:bold;'>Maintenance</span></strong>
            </div>
            <p style='line-height: 150%; font-size: 20px;'>
                This is a CLI (Commando line) program that allows you to download all and the latest chapter, download in ranges (1 to 3, 4-7, etc) and download missing pages and chapters.
                Makes use of python parsers to find all the obscure CDN urls and aggregate them into a json file for downloading, and guaranteeing integrity, page and chapter order.
            </p>
            <span class="label round">Python</span>
            <span class="label round">Git</span>
        </div>
    </div>
    <div class="jumbotron">
        <div class='senlightfont' style='font-size: 20px;'>
            <h1 id="contact">Contact Me</h1><br />
            <p>Got questions? Want to hire me? Problems with my (web)apps?</p>
            <p>Email me at takumiadachi [ at ] gmail dot com </p><br />
            <p>&copy; 2014-2015 Takumi 'takada' Adachi</p>
        </div>
    </div>
</div>
<!--
    <div id='center'>
        <div class='row' style='background-color: #3399CC;'>
            <div class='column senlightfont' style='background-color: #E8E8E8; font-size: 27px; font-weight:bold;'>
                <h1>Takumi Adachi</h1>
                <h4>Programmer/Web Developer</h4>
                <h4>Information Technologist</h4>
            </div>
        </div>

        <div class='row' style='background-color: #3399FF; width:'>
            <div class='column senlightfont' style='background-color: #339FFF; color:white;'>
                <div class='skillset'>
                    <icon class='icon-html size-100 step' style='display: inline-block; padding-left: 20px;'></icon>
                    <div class='size-24' style='padding-left: 20px;'>HTML</div>
                </div>
                <div class='skillset'>
                    <icon class='icon-css size-100 step' style='display: inline-block;'></icon>
                    <div class='size-24'>CSS</div>
                </div>
                <div class='skillset'>
                    <img src='img/javascript-icon.png' width='90' height='90' alt='JS' style:'display: inline-block;' />
                    <div class='size-24'>Javascript</div>
                </div>
                <div class='skillset'>
                    <icon class='icon-nodejs size-100 step' style='display: inline-block;'></icon>
                    <div class='size-24'>nodeJS</div>
                </div>
                <div class='skillset'>
                    <icon class='icon-python size-100 step' style='display: inline-block;'></icon>
                    <div class='size-24'>Python</div>
                </div>
                <div class='skillset'>
                    <icon class='icon-ubuntu size-100 step' style='display: inline-block;'></icon>
                    <div class='size-24'>Ubuntu</div>
                </div>

                <div class='skillset'>
                    <icon class='icon-php size-100 step' style='display: inline-block;'></icon>
                    <div class='size-24'>PHP</div>
                </div>
                <div class='skillset'>
                    <img src='img/pc_repair.png' width='90' height='90' alt='JS' style:'display: inline-block;'/>
                    <div class='size-24'>IT</div>
                </div>
            </div>

            <div class='column' style='background-color: #FFFFFF;'>
                <div style='line-height:150%; font-size: 23px;'>
                    <p>
                        I am a developer in Victoria, BC. Most of my projects are web based, But I can build a variety of web applications that fit your needs.
                        My strong points include <b>HTML/CSS</b>, <b>Javascript(JQuery,AngularJS)</b>, and <b>NodeJS</b>.
                    </p>
                    <p>
                        I'm not limited to just developing. I have also a strong background in Information Technology.
                        I regularly troubleshoot networks, computers, and handhelds. You can count on me to quickly catch up to your IT practices.
                    </p>
                    <p>
                        My favorite web hangouts include Hacker News, Reddit, Github, and Twitch. Kendo is my main physical activity and cycling is my main mode
                        of exercise and transportation besides driving.
                    </p>
                </div>
            </div>
        </div>

        <div class='row' style='background-color: #33CCFF;'>
            <div class='column' style='background-color: #FFFFFF;'>
                <div>
                    <img class='preview' src='img/srlplayer-preview.jpg' width='250' height='150' />
                </div>

                <div class='info'>
                    <div style='line-height: 150%;'>
                        <strong>Project Title: </strong>srlplayer<br />
                        <strong>Project URL: </strong><a href='http://srl.takbytes.com'>srl.takbytes.com</a><br />
                        <strong>Source Code: </strong><a href='https://github.com/tadachi/srlplayer'>Github</a><br />
                        <strong>Demo Webm: </strong><a href='webm/srlplayer.webm'>Demo</a><br />
                        <strong>Status: </strong><span style='color: #00FF33; font-weight:bold;'>Active/Live</span><br />
                    </div>
                    <p style='line-height: 150%; font-size: 20px;'>
                        This is a twitch streamer that grabs a list of streamers that specifically speedrun games at
                        <a href='www.speedrunslive.com'>www.speedrunslive.com</a>. I made this web app because I wanted to maximize the video screen size
                        without losing chat, make it minimal, and load very quickly. I learned how to code and debug HTML, CSS, Javascript(JQuery), and nodeJS.
                        I also learned REST, JSON, browser compatibility, and callbacks. Overall, it was an excellent way to practice coding, debugging, and version control.
                    </p>
                    <span class="label round">HTML</span>
                    <span class="label round">CSS</span>
                    <span class="label round">Javascript + jQuery</span>
                    <span class="label round">NodeJS</span>
                    <span class="label round">Git</span>
                </div>
            </div>
            <div class='column' style='background-color: #FFFFFF; margin-top: 50px;'>
                <div>
                    <img class='preview' src='img/multitwitchchat-preview.jpg' width='250' height='150' />
                </div>
                <div class='info'>
                    <div style='line-height: 150%;'>
                        <strong>Project Title: </strong>multitwitchchat<br />
                        <strong>Project URL: </strong><a href='http://mtc.takbytes.com'>mtc.takbytes.com</a><br />
                        <strong>Source Code: </strong><a href='https://github.com/tadachi/multitwitchchat'>Github</a><br />
                        <strong>Demo Webm: </strong><a href='webm/multitwitchchat.webm'>Demo</a><br />
                        <strong>Status: </strong><span style='color: #FFBB00; font-weight:bold;'>Maintenance</span>/<span style='color: #00FF33; font-weight:bold;'>Live</style>
                    </div>
                    <p style='line-height: 150%; font-size: 20px;'>
                        This is a web app that allows you to search for twitch streamers and open just the chat for each one.
                        I made this web app because I wanted to catch up on chat for the twitch streams I regularly watch.
                        I chose to learn AngularJS for this app because directives are incredibly concise and reduce alot of the code
                        for certain things compared to being implemented in JQuery alone.
                    </p>
                    <span class="label round">HTML</span>
                    <span class="label round">CSS</span>
                    <span class="label round">Javascript + jQuery + AngularJS</span>
                    <span class="label round">NodeJS</span>
                    <span class="label round">Git</span>
                </div>
            </div>
            <div class='column' style='background-color: #FFFFFF; margin-top: 50px;'>
                <div>
                    <img class='preview' src='img/miniview-preview.jpg' width='120' height='400' />
                </div>
                <div class='info'>
                    <div style='line-height: 150%;'>
                        <strong>Project Title: </strong>Miniview<br />
                        <strong>Project URL: </strong><a href='https://play.google.com/store/apps/details?id=org.app.miniview'>Google Play Store</a><br />
                        <strong>Source Code: </strong><a href='https://github.com/tadachi/miniview'>Github</a><br />
                        <strong>Status: </strong><span style='color: #FFBB00; font-weight:bold;'>Maintenance</span>/<span style='color: #00FF33; font-weight:bold;'>Live</style>
                    </div>
                    <p style='line-height: 150%; font-size: 20px;'>
                        This android app is ideal for reading locally stored manga. It features cycling to the next chapter/folder upon hitting next on the last image
                        allowing a seamless reading experience. Supports PNG and JPG.
                    </p>
                    <span class="label round">Python</span>
                    <span class="label round">Kivy</span>
                    <span class="label round">Git</span>
                </div>
            </div>
            <div class='column' style='background-color: #FFFFFF; margin-top: 50px;'>
                <div>
                    <img class='preview' src='img/mangaget-preview.png' width='120' height='230' />
                </div>
                <div class='info'>

                    <div style='line-height: 150%;'>
                        <strong>Project Title: </strong>Mangaget<br />
                        <strong>Source Code: </strong><a href='https://github.com/tadachi/mangaget'>Github</a><br />
                        <strong>Status: </strong><span style='color: #FFBB00; font-weight:bold;'>Maintenance</span>
                    </div>
                    <p style='line-height: 150%; font-size: 20px;'>
                        This is a CLI (Commando line) program that allows you to download all and the latest chapter, download in ranges (1 to 3, 4-7, etc) and download missing pages and chapters.
                        Makes use of python parsers to find all the obscure CDN urls and aggregate them into a json file for downloading, and guaranteeing integrity, page and chapter order.
                    </p>
                    <span class="label round">Python</span>
                    <span class="label round">Git</span>
                </div>
            </div>
        </div>
        <div id='footer'>
            <div class='row senlightfont' style='background-color: #66CCFF;'>
                <div class='column senlightfont' style='background-color: #FFFFFF; font-size: 20px;'>
                    <h2 id="contact">Contact Me</h2>
                    <p>Got questions? Want to hire me? Problems with my (web)apps?</p>
                    <p>Email me at takumiadachi [ at ] gmail dot com </p><br />
                    <p>&copy; 2014-2015 Takumi 'takada' Adachi</p>
                </div>
            </div>
        </div>
    </div>
-->
</body>
</html>
