<!DOCTYPE html>
<html lang='en' ng-app='app'>
    <head>
        <meta content='text/html; charset=utf-8' http-equiv='content-type'>
        <title>Takumi Adachi's Homepage</title>
        <link rel='stylesheet' href='/css/main.css'>
        <link rel='stylesheet' href='/css/fonts.css'>
        <!--load JQuery before Angular-->
        <script src='js/jquery-2.1.1.min.js'></script>
        <script src='js/pdfjs-1.0.68-dist/build/pdf.js'></script>

        <!-- Angularjs -->
<!--         <script src='js/angular.1.3.0b11.js'></script> -->

<script>
//     var app = angular.module('app', []);

    function calcResolutions() {
        var header = 36;
        var footer = 300;

        var currWinWidth = $(window).width();
        var currWinHeight = $(window).height();

        var containerWidth = (currWinWidth-20); //.54 is a % of the max width of $(window) or browserwidth.
        var containerHeight = (currWinHeight-20);

        var headerPanelWidth = Math.floor(currWinWidth-20);
        var headerPanelHeight = Math.floor(header);

        var centerPanelWidth = Math.floor(currWinWidth-20);
        var centerPanelHeight = Math.floor(currWinHeight - header + footer);

        var footerPanelWidth = Math.floor(currWinWidth-20);
        var footerPanelHeight = Math.floor(footer);

        return {
                containerW: containerWidth, containerH: containerHeight,
                headerW: headerPanelWidth, headerH: headerPanelHeight,
                footerW: footerPanelWidth, footerH: footerPanelHeight,
                centerW: centerPanelWidth, centerH: centerPanelHeight
                };
    }

    function applyResolutions() {
        res = calcResolutions();

        $('#container').css('width', res.containerW);
//         $('#container').css('height', res.containerH);

        $('#header').css('width',res.headerW);
        $('#header').css('height',res.headerH);

        $('#center').css('width', res.centerW);
//         $('#center').css('height', res.centerH);

        $('#footer').css('width', res.footerW);
        $('#footer').css('height', res.footerH);
    }

    $( document ).ready(function() {
        applyResolutions();

        /* Default page to load. */
//         $( "#info" ).load("res/about.htm");
//         window.location = "#about";

    });
/*
 * Shows if the website is online or not. *WIP
 */
//     app.directive('isOnline', function() {
//         return {
//             $scope: {
//                 value: '=',
//                 href: '=',
//                 link: '@',
//             },
//             restrict: 'AEC',
// //             controller: function($scope, $element){
// //                 $scope.value = 'pinging...';
// //                 $scope.href = $element.attr('link');
// //                 console.log($element.attr('link'));
// //             },
//             cache: false,
//             link: function($scope, $element) {
//                 $scope.value = 'pinging...';
//                 $scope.href = $element.attr('link');

//                 var url = $element.attr('link');
//                 //var url = 'http://whateverorigin.org/get?url=' + encodeURIComponent($element.attr('link')) + '&callback=?';
//                 //var url = 'http://whateverorigin.org/get?url=' + encodeURIComponent($element.attr('link')) + '&callback=?';
// //                 $.getJSON(url, function(data){
// //                     console.log(data);
// //                 });
//                 $.ajax({
//                     url: $element.attr('link'),
//                     timeout: 1000,
//                     dataType: 'json',
//                     statusCode: {
//                         200: function() {
//                             console.log('200');
//                             $scope.$apply(function() {
//                                 $scope.value = '200';
//                             });
//                         },
//                         404: function() {
//                             console.log('400');
//                             $scope.$apply(function() {
//                                 $scope.value = 'loading';
//                             });
//                         },
//                         500: function() {
//                             console.log('500');
//                             $scope.$apply(function() {
//                                 $scope.value = '500';
//                             });
//                         },
//                         503: function() {
//                             console.log('503');
//                             $scope.$apply(function() {
//                                 $scope.value = '500';
//                             });
//                         }
//                     }
//                 }).done(function(data) {
//                     console.log(url);
//                     console.log(data);
//                 }).fail(function(data) {
//                     console.log(url);
//                     console.log(data);
//                 })

//             }
//         };
//     });

    'use strict';

    PDFJS.workerSrc = 'js/pdfjs-1.0.68-dist/build/pdf.worker.js';

</script>

    </head>
    <body>
        <div id='container'>
            <div id='header'>
                <div style='font-size: 200%; float: left; padding-right: 50px'>
                <a href="/">Home</a></li>
                <a href="/#resume">Resume</a></li>
                <a href="/#resumev">Resume (Verbose)</a></li>
                <a href="/#contact">Contact Me</a></li>
                </div>
                <icon class='icon-twitter size-36 step'></icon>
                <icon class='icon-github size-36 step'></icon>
                <icon class='icon-social-facebook size-36 step'></icon>
            </div>
            <div id='center'>
                <div class="row-even">
                    <div class='column senlightfon'>
                        <h1>Takumi Adachi</h1>
                        <h3>Professional Web Developer</h3>
                    </div>
                </div>
                <div class="row-odd">
                    <div class='column project' style='background-color: orange;'>
                        <div style='float: left; border: 1px solid red; width='250px''>
                             <img src='img/srlplayer-small.png' width='250px'  />
                        </div>

                        <div id='info'>
                            <p><strong>Project Title: </strong>srlplayer</p>
                            <p><strong>Project URL: </strong><a href='http://srl.takbytes.com'>srl.takbytes.com</a></p>
                            <p><strong>Source Code: </strong><a href='https://github.com/tadachi/srlplayer'>Github</a></p>
                            <p><strong>Status: </strong><span style='color: lightgreen;'>Active</span></p>
                            <p style='line-height:200%'>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <span class="label round">HTML</span>
                            <span class="label round">CSS</span>
                            <span class="label round">Javascript + jQuery</span>
                            <span class="label round">NodeJS</span>
                            <span class="label round">Git</span>
                        </div>
                    </div>

                    <div class='column project' style='background-color: violet; margin-top: 50px;'>
                        <div style='float: left; border: 1px solid red; width='250px''>
                             <img src='img/srlplayer-small.png' width='250px'  />
                        </div>

                        <div id='info'>
                            <p><strong>Project Title: </strong>multitwitchchat</p>
                            <p><strong>Project URL: </strong><a href='http://mtc.takbytes.com'>mtc.takbytes.com</a></p>
                            <p><strong>Source Code: </strong><a href='https://github.com/tadachi/multitwitchchat'>Github</a></p>
                            <p><strong>Status: </strong><span style='color: lightgreen;'>Active</span></p>
                            <p style='line-height:200%'>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <span class="label round">HTML</span>
                            <span class="label round">CSS</span>
                            <span class="label round">Javascript + jQuery + AngularJS</span>
                            <span class="label round">NodeJS</span>
                            <span class="label round">Git</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id='footer'>
                <h1 id="contact">Contact Me</h1>
            </div>
        </div>
    </body>
</html>
